params {
  config_profile_description = 'University of Adelaide Phoenix HPC cluster profile provided by nf-core/configs'
  config_profile_contact = 'Yassine Souilmi / Alexander Peltzer (@yassineS, @apeltzer)'
  config_profile_url = 'https://www.adelaide.edu.au/phoenix/'
  outdir = "<SET OUTPUT DIR>"
}

singularity {
  enabled = true
  autoMounts = true
  cacheDir="/hpcfs/groups/acad_users/nextflow_repos/singularity_repos/"
}

process {
  executor = 'slurm'
  clusterOptions="-N 1"
  beforeScript = 'module load Singularity/3.7.1'
  time = '24h'
  withName: shardfastqs {
    container = '/hpcfs/users/a1880987/resources/singularity/nf-core-eager_2.4.5-sharding.sif'
  }
}
