
params {
  config_profile_description = 'University of Adelaide Phoenix HPC cluster profile provided by nf-core/configs'
  config_profile_contact = 'Yassine Souilmi / Alexander Peltzer (@yassineS, @apeltzer)'
  config_profile_url = 'https://www.adelaide.edu.au/phoenix/'
}

singularity {
  enabled = true
  autoMounts = true
  cacheDir="/apps/singularity/"
  runOptions="-B /apps/ -B /tmp/ -B /usr/"
}

 
process {
   executor = 'slurm'
   scratch = true
   stageInMode = 'copy'
   stageOutMode = 'copy'
   container = '/apps/singularity/shyamrav-nf-core-eager-2.4.5-sharding.img'
   withName: bwa_ronin {
     cpus = 72
     time = '72h'
     memory = '55G'
   }
}

params {
  max_memory = 128.GB
  max_cpus = 64
  max_time = 72.h
}


